server:
  port: 8085

spring:
  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=portfolio;encrypt=false
    username: sa
    password: YourStrong!Passw0rd
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          time_zone: UTC

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 200ms

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
